In [13]:
import pandas as pd

In [14]:
# read the data: the asc file "../data/raw/cntydist.asc"
data = pd.read_csv('../data/raw/cntydist.csv')

In [15]:
data.head()

   BORDINDX  ST1ST2  ST1  ST2  ST  COUNTY  MINDIST  MILEMARK
0         1  AL-FL     1   12   1       1    103.4      89.8
1         1  AL-FL     1   12   1       3     16.6     167.4
2         1  AL-FL     1   12   1       5     58.1      18.4
3         1  AL-FL     1   12   1       7    138.7     125.8
4         1  AL-FL     1   12   1       9    206.6      91.2

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14948 entries, 0 to 14947
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   BORDINDX  14948 non-null  int64
 1   ST1ST2    14948 non-null  object
 2   ST1       14948 non-null  int64
 3   ST2       14948 non-null  int64
 4   ST        14948 non-null  int64
 5   COUNTY    14948 non-null  int64
 6   MINDIST   14948 non-null  float64
 7   MILEMARK  14948 non-null  float64
dtypes: float64(2), int64(5), object(1)
memory usage: 934.4+ KB

In [17]:
# create the fips for the state and the county
data['county_fips'] = data['ST'].astype(str).str.rjust(2, '0') + data['COUNTY'].astype(str).str.zfill(3)

In [18]:
data.head(20)

    BORDINDX  ST1ST2  ST1  ST2  ST  COUNTY  MINDIST  MILEMARK county_fips
0          1  AL-FL     1   12   1       1    103.4      89.8       01001
1          1  AL-FL     1   12   1       3     16.6     167.4       01003
2          1  AL-FL     1   12   1       5     58.1      18.4       01005
3          1  AL-FL     1   12   1       7    138.7     125.8       01007
4          1  AL-FL     1   12   1       9    206.6      91.2       01009
5          1  AL-FL     1   12   1      11     76.3      41.4       01011
6          1  AL-FL     1   12   1      13     53.0      98.0       01013
7          1  AL-FL     1   12   1      15    187.7      48.4       01015
8          1  AL-FL     1   12   1      17    128.6      15.5       01017
9          1  AL-FL     1   12   1      19    218.7      36.6       01019
10         1  AL-FL     1   12   1      21    128.2      99.3       01021
11         1  AL-FL     1   12   1      23     83.6     153.6       01023
12         1  AL-FL     1   12   1      25     49.4     153.6       01025
13         1  AL-FL     1   12   1      27    156.3      47.8       01027
14         1  AL-FL     1   12   1      29    181.2      30.0       01029
15         1  AL-FL     1   12   1      31     24.8      55.1       01031
16         1  AL-FL     1   12   1      33    257.4     153.6       01033
17         1  AL-FL     1   12   1      35     29.4     116.0       01035
18         1  AL-FL     1   12   1      37    136.5      67.3       01037
19         1  AL-FL     1   12   1      39     18.6      83.4       01039

In [32]:
al_fl = data.loc[(data['ST'].isin([1,12])) & (data['ST2'] == 12),]

In [33]:
al_fl

     BORDINDX  ST1ST2  ST1  ST2  ST  COUNTY  MINDIST  MILEMARK county_fips
0           1  AL-FL     1   12   1       1    103.4      89.8       01001
1           1  AL-FL     1   12   1       3     16.6     167.4       01003
2           1  AL-FL     1   12   1       5     58.1      18.4       01005
3           1  AL-FL     1   12   1       7    138.7     125.8       01007
4           1  AL-FL     1   12   1       9    206.6      91.2       01009
..        ...     ...  ...  ...  ..     ...      ...       ...         ...
129         1  AL-FL     1   12  12     125    172.7       0.0       12125
130         1  AL-FL     1   12  12     127    266.5       0.0       12127
131         1  AL-FL     1   12  12     129     69.9       0.0       12129
132         1  AL-FL     1   12  12     131     20.1      67.2       12131
133         1  AL-FL     1   12  12     133     20.3      36.9       12133

[134 rows x 9 columns]

In [24]:
print(al_fl['BORDINDX'].unique())

[1]